@import "../../vars.css";

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 50px;
}

.skills h1 {
  font-size: 62px;
  text-align: center;
  color: var(--color-text);
  letter-spacing: 1.2px;
  font-family: var(--font-robot);
}

.skills_container {
  margin-top: 100px;
  padding: 50px 100px;
  max-width: 1820px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: var(--color-primary);
}

.skills_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.skills_item:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.skills_item h3 {
  color: var(--color-text);
  font-size: 22px;
  font-family: var(--font-robot);
}

.item_img {
  background: var(--color-secondary);
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
}

.item_img img {
  width: 105px;
  height: 105px;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .skills_container {
    padding: 50px 20px;
  }
}
